.animated-profile {
  width: 100%;
  position: relative;
  top: -40px;

  &__hair {
    position: relative;
    width: 196px;
    margin: auto;
    height: 113px;
    display: block;
    top: 70px;
    left: 14px;

    animation-name: moveUpAndDown;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  &__face {
    margin: auto;
    position: relative;
    display: block;
    background-color: #fbddce;
    border-radius: 30% 10% 50% 50%;
    width: 140px;
    height: 157.22px;

    animation-name: moveUpAndDown;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    &__nose {
      top: 60px;
      left: 69px;
      width: 11.28px;
      position: absolute;
    }

    &__eyes-wrapper {
      width: 74.06px;
      position: absolute;
      left: 50%;
      top: 36px;
    }

    &__eyes {
      width: 100%;
      height: auto;
      position: relative;
      left: -50%;
    }

    &__pupils-container {
      height: 20px;
    }

    &__pupil {
      background-color: #3784b3;
      border-radius: 50%;
      width: 16.31px;
      height: 16.31px;
      position: absolute;
      top: 48px;
    }

    &__smile {
      width: 61.18px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 40px;
      margin: auto;
    }
  }

  &__shadow {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 20px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.2);
    filter: blur(2px);
    animation-name: shadowDarkerAndLighter;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}

@keyframes moveUpAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shadowDarkerAndLighter {
  0% {
    filter: blur(5px);
  }
  50% {
    filter: blur(15px);
  }
  100% {
    filter: blur(5px);
  }
}
