@import "../../../../utils/Breakpoints.scss";

.hero-title {
  z-index: 100;
  position: relative;
  line-height: 0.9em !important;
  pointer-events: none;

  // TODO
  font-size: 5.5em !important;
  @media (min-width: 350px) {
    font-size: 6.5em !important;
  }
  @media (min-width: 450px) {
    font-size: 7.5em !important;
  }
  @media (min-width: $breakpoint-sm) {
    font-size: 8.5em !important;
  }
  @media (min-width: $breakpoint-md) {
    font-size: 10em !important;
  }
}

.hero-subtitle {
  z-index: 100;
  position: relative;
  letter-spacing: 0.1em;
  pointer-events: none;

  @media (max-width: $breakpoint-md) {
    font-size: 1.5em !important;
  }

  @media (min-width: $breakpoint-md) {
    letter-spacing: 0.3em;
  }
}

.hero-buttons {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0;
  @media (min-width: $breakpoint-md) {
    justify-content: space-between;
  }
}
