@import "../../utils/Breakpoints.scss";
@import "../../utils/Colors.scss";

.experience-card {
  transition: 0.1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  @media (min-width: $breakpoint-lg) {
    cursor: pointer;
    opacity: 0.5;
    box-shadow: none;
  }

  &__icon {
    width: 100%;
    height: auto;
    transition: 0.1s ease-in-out;
    @media (min-width: $breakpoint-sm) {
      width: 80%;
    }
  }

  &__text {
    transition: 0.2s ease-in-out;

    &--no-margin {
      margin: 0;
    }
  }

  &--highlighted {
    opacity: 1;
  }
}
